.adminDesign {
    height: 32em;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    background-color: lightcoral;
}

.usuarios1 {

    background-color: white;

    height: 3em;
    width: 15em;

    padding: 1em;

    border: 1em gray;

}

/* .listaUsuarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
} */