.designRegister {
    width: 100vw;
    height: 42em;

    background-color: beige;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cardRegister {

    height: 40em;
    width: 70em;

    background-color: rgba(56, 55, 55, 0.904);


    border-radius: 4em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upCardRegister {
    height: 5em;
    width: 10em;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background-color: green;

    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;

}

.middleCardRegister {
    height: 20em;
    width: 55em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size : 1em;
    color: black;

    background-color: yellow;

}

.inputs {

    height: 25em;
    width: 27.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inp {
    height: 5em;
    margin-top: .5em;
    width: 20em;

    text-align: center;

    border-radius: 2em;

    background-color: beige;
}
.foticos {

    height: 20em;
    width: 27.5em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: orange;
}

.bottomCardRegister {
    height: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

}

.botonRegistro {

    height: 4em;
    width: 10em;

    background-color: beige;

    border-radius: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botonRegistro:hover {

    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

