.registerDesign {
    width: 100vw;
    height: 100vh;

    background-color: pink;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cardRegister {

    height: 40em;
    width: 50em;

    background-color: lightcoral;

    border-radius: 4em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upCardRegister {
    height: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 2em;

}

.middleCardRegister {
    height: 20em;

    align-items: center;
    justify-content: center;

    font-size : 1em;
    color: black;

}

.bottomCardRegister {
    height: 10em;

    display: flex;
    align-items: center;
    justify-content: center;

}

.botonRegistro {

    height: 4em;
    width: 10em;

    background-color: whitesmoke;

    border-radius: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.botonRegistro:hover {

    background-color: white;
    font-weight: bold;
    cursor: pointer;
}