.designProfile {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background-color: beige;

    width: 100vw;
    height: 42.2em;


}

.designProfileHalf {

    width: 50vw;
    height: 42.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profileLeft {


    height: 42.2em;
    width: 50vw;

    background-color: green;

}

.profileRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 42.2em;
    width: 50vw;

    background-color: pink;

}

.pedidos2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(56, 55, 55, 0.938);
    color: beige;
    margin: 1em;

    width: 20em;

    border-radius: 2em;

}

.cartel3 {
    height: 8em;
    width: 7.5em;

    border-radius: 2em;
}

.updateBoton {
    height: 2em;
    width: 8em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: beige;
    color: hsl(0, 0%, 30%);

    border-radius: 0.2em;
    cursor: pointer;

}

.updateBoton:hover {
    color: whitesmoke;
    background-color: hsl(0, 0%, 30%);
    border-radius: 0.2em;

}

