
.designPelicula {

    background-color: beige;
    
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*  */

.cardPelicula {

    height: 20em;
    width: 15em;

    background-color: darkslategrey;

    margin: .2em;

    border-radius: .5em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
}

.fotoCard {

    display: flex;
    height: 18em;
    width: 13em;

    margin: .2em;
    box-sizing: border-box;
    cursor: pointer;
}