


.designPedido {

    background-color: beige;
    
    height: 31em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designRooster {
    display: flex;
    flex-wrap: wrap;
}

.designRooster>*{
    flex-basis: 25%;
    
}


.cardPelicula {

    height: 20em;
    width: 9em;

    background-color: hsl(221, 40%, 54%);

    margin: .2em;

    border-radius: .5em;

    padding: .2em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    color: white;
    font-weight: bold;
}

.fotoCard {
    margin: .2em;
    box-sizing: border-box;
}