
.designHeader {
    height: 15em;

    background-color: darkblue;

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerSpace {
    width: 33vw;
    height: 15em;

    display: flex;
    flex-direction: row;
}


.homeButton { 
    width: 10vw;
    height: 25vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.linksDesign {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    margin-right: 3em;
    margin-bottom: 1em;
}

.link:hover {
    font-weight: bold;
    cursor:pointer;
}

.searchDesign {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.relleno {
    height: 1em;
}
