
.designHeader {
    height: 8em;

    background-color: rgb(56, 55, 55);

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.movieClub {
    color: beige;
    font-size: 3em;
}

.headerSpace {
    width: 33vw;
    height: 8em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.homeButton { 
    width: 5em;
    height: 5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.linksDesign {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.link {
    margin-right: 3em;
    margin-bottom: 1em;
}

.link:hover {
    font-weight: bold;
    cursor:pointer;
}

.searchDesign {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.relleno {
    height: 1em;
}

.boton {
    background-color: black  ;
}
