
.designFilm {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background-color: beige;
    height: 32em;
    width: 100vw;
}

.cuadroGeneral {
    height: 28em;
    width: 80vw;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border-radius: 3em;


    padding: 3em;

    background-color: rgba(128, 128, 128, 0.747);
}
.filmDetailHalf {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50vw;

}

.right {
    position: absolute;
    top: 22em;
    left: 45em;
}

.tituloPel {
    font-size: 2em;
    font-weight:bolder;

    color: purple;
}

.sinopsisPel {
    font-size: 1em;
    font-weight: bold;

    color: black;
}