
.designFooter {
    height: 3em;
    background-color: rgb(56, 55, 55);
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}