
.designLogin {

    background-color: beige;
    
    height: 42.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designFormulario {
    height: 20em;
    width: 30em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2em;

    background-color: rgba(56, 55, 55, 0.904);
}

.form {
    height: 12em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.bott {
    height: 8em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}



.loginButton {
    height: 4em;
    width: 10em;

    background-color: beige;
    color: gray;

    border-radius: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 1em;
    text-align: center;
}

.loginButton:hover {
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    color:rgba(56, 55, 55, 0.904); ;
}

