
.designLogin {

    background-color: beige;
    
    height: 42.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designFormulario {
    height: 20em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 2em;

    background-color: grey;
}

.form {
    height: 15em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: yellow;

}

.bott {
    height: 5em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: green;
}

.loginButton {
    height: 4em;
    width: 10em;

    background-color: pink;

    border-radius: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton:hover {
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}